/*//////////////////////////////////////////////////////////////////////////////////
Stefan Grulovic (20150280) - CS306 Project
//////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////////
HTML/BODY
//////////////////////////////////////////////////////////////////////////////////*/
*{
  margin: 0;
  padding: 0;
}
html, body {
  height:100%;
  width:100%;
}
body {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}
/*//////////////////////////////////////////////////////////////////////////////////
FONTS
//////////////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: CODEB;
  src: url('../fonts/CODE_Bold.otf');
}
@font-face {
  font-family: CODEL;
  src: url('../fonts/CODE_Light.otf');
}
/*//////////////////////////////////////////////////////////////////////////////////
PAGE HEADER
//////////////////////////////////////////////////////////////////////////////////*/
#title{
  position: absolute;
  background-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-family: CODEB;
  font-size: 50px;
  text-align: center;
  color: white;
}
/*//////////////////////////////////////////////////////////////////////////////////
POINT
ß//////////////////////////////////////////////////////////////////////////////////*/
a {
  margin: 0;
  color: rgb(0, 180, 50);
  text-decoration: none;
  font-size: 20px;
}
.point{
  z-index: 1;
  color:black;
  position: absolute;
  text-shadow: 0 0 3px rgb(0,0,0);
  font-size: 27px;
}
#point1{
  color:rgb(0,100,200);
}
#point2{
  color:rgb(0,140,25);
}
#point3{
  color:rgb(190,0,0);
}
#point4{
  color:rgb(125,40,195);
}
#point5{
  color:rgb(150,80,0);
}
#point6{
  color:rgb(0,135,110);
}
/*//////////////////////////////////////////////////////////////////////////////////
POP-UP
//////////////////////////////////////////////////////////////////////////////////*/
.pop-up {
  z-index: 2;
  display: none;
  position: absolute;
  width: 280px;
  background: #eeeeee;
  color: black;
  font-size: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.pop-up h3{
  font-family: CODEL;
  color: white;
  font-size:30px;
  padding: 5px 10px 5px 10px;
}
.pop-up p{
  padding: 12px;
}
/*//////////////////////////////////////////////////////////////////////////////////
LINE
//////////////////////////////////////////////////////////////////////////////////*/
line{
  z-index: 3;
  stroke:blue;
  stroke-width:4;
  stroke-linecap:butt;
}
/*//////////////////////////////////////////////////////////////////////////////////
POINT TEXT
//////////////////////////////////////////////////////////////////////////////////*/
.text {
  display: none;
  margin-top: 50px;
  width: 300px;
  height: 100%;
  background: #eeeeee;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.text h4{
  background-color: dimgray;
  font-family: CODEL;
  color: white;
  font-size:50px;
  padding: 5px 10px 5px 10px;
}
.text p{
  padding: 12px;
}
/*//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/
